<a href="https://colab.research.google.com/github/Dharma-Ranganathan/AllAboutPython/blob/main/Class_Test_Nov_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Class test November 11**

1. Odd or Even

In [2]:
num = int(input('enter num to check odd or even : '))

if num%2 != 0:
    print(f'given {num} is odd')
else:
    print(f'given {num} is even')

enter num to check odd or even : 4
given 4 is even

2. Negative | Positive | Zero

In [5]:
num = int(input())

if num > 0:
    print(f'given {num} is positive')
elif num < 0:
    print(f'given {num} is negative')
elif num == 0:
    print(f'given {num} is zero')

0
given 0 is zero

3. Factorial of num

In [6]:
def fact(num):
    if num == 0:
        return 1
    return num * fact(num-1)

num = int(input())
val = fact(num)
print(f'factorial of {num} is {val}')

5
factorial of 5 is 120

4. Sum of digits

In [8]:
num = input().strip()

# function
def parse_sum(num):
    return sum(list(map(int,num)))

if num.isnumeric():
    val = parse_sum(num)
    print(f'sum of digits of {num} is {val}')
else:
    print('invalid credentials')

3500
sum of digits of 3500 is 8

5. Reverse a number

In [10]:
num = input().strip()

if num.isnumeric():
    print(f'{num} reversed as {num[::-1]}')
else:
    print('invalid credentials')

3500
3500 reversed as 0053

6. Check palindrome for num

In [11]:
num = input().strip()

if num.isnumeric():
    if num == num[::-1]:
        print(f'given {num} is palindrome')
    else:
        print(f'given {num} is not palindrome')
else:
    print('invalid credentials')

303
given 303 is palindrome

7. Greatest of three numbers

In [13]:
num = list(map(int,input('enter numbers :').split()))

max = 0
for n in num:
    if n > max:
        max = n

print(f'greatest number in {num} is {max}')

enter numbers :3 5 6
greatest number in [3, 5, 6] is 6

8. Check prime

In [14]:
num = int(input())

def check_prime(num):
    count = 0
    for i in range(1,num+1):
        if num%i == 0:
            count += 1
    return count


count = check_prime(num)

if count == 2:
    print(f'given {num} is prime')
else:
    print(f'given {num} is not prime')

7
given 7 is prime

9. Multiplication table

In [15]:
num = int(input())

for i in range(1,11):
    print(f'{i} X {num} = {i*num}')

5
1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25
6 X 5 = 30
7 X 5 = 35
8 X 5 = 40
9 X 5 = 45
10 X 5 = 50

10. All even from 1 - 50

In [16]:
for i in range(1,51):
    if i%2 == 0:
        print(f'{i} is even')

2 is even
4 is even
6 is even
8 is even
10 is even
12 is even
14 is even
16 is even
18 is even
20 is even
22 is even
24 is even
26 is even
28 is even
30 is even
32 is even
34 is even
36 is even
38 is even
40 is even
42 is even
44 is even
46 is even
48 is even
50 is even

11. Power by loops

In [18]:
a = int(input())
b = int(input())

power = 1
for i in range(b):
    power = a*a

print(f'power {a} by {b} is {power}')

2
2
power 2 by 2 is 4

12. Fibonacci sequence

In [20]:
n = int(input())
print('series of Fibonacci')
print()
n1 = 0
n2 = 1
print(n1,end=' • ')
print(n2,end=' • ')
for i in range(n+1):
    n3 = n2+n1
    print(n3,end=' • ')
    n1 = n2
    n2 = n3

10
series of Fibonacci

0 • 1 • 1 • 2 • 3 • 5 • 8 • 13 • 21 • 34 • 55 • 89 • 144 •

13. Sum of first n natural numbers

In [22]:
val = 0
for i in range(1,11):
    val += i

print(f'sum of first 10 : {val}')

sum of first 10 : 55

15. Celcius to Fahrenheit

In [23]:
cel = int(input())

fahren = (cel * 9/5) + 32

print(f'Celcius {cel} is converted to Fahrenheit {fahren}')

1
Celcius 1 is converted to Fahrenheit 33.8

16. Count of digits of num

In [24]:
num = input().strip()

if num.isnumeric():
    print(f'count of {num} is {len(num)}')
else:
    print('invalid credentials')

350023
count of 350023 is 6

17. LCM of two numbers

In [25]:
# function for gcd
def gcd(a, b):
    return a if b == 0 else gcd(b, a % b)

def lcm(a, b):
    return (a // gcd(a, b)) * b


a = 10
b = 5
print(lcm(a, b))

10

18. Square and cube of num

In [26]:
num = int(input())

square = num ** 2
cube = num ** 3

print(f'square of {num} is {square}')
print(f'cube of {num} is {cube}')

2
square of 2 is 4
cube of 2 is 8

19. Vowel or Consonant

In [27]:
vowels = ['a','e','i','o','u']

ch = input('enter char : ').strip()

if ch.lower() in vowels:
    print(f'given {ch} is vowels')
else:
    print(f'given {ch} is consonant')

enter char : G
given G is consonant

20. Swap numbers

In [28]:
a = int(input())
b = int(input())

print(f'a - {a} : b - {b}')

a,b = b,a

print(f'a - {a} : b - {b}')

2
5
a - 2 : b - 5
a - 5 : b - 2

**Dharma**
"Count in even 6"

**question no : 17**

In [29]:
# function for gcd
def gcd(a, b):
    return a if b == 0 else gcd(b, a % b)

def lcm(a, b):
    return (a // gcd(a, b)) * b


a = 10
b = 5
print(lcm(a, b))

10